*{
    box-sizing: border-box;
}

.contenido-contacto{
    text-align: center;
    color: white;
}

ul{
    list-style: none;
}

body{
    background-image: url(../img/fondomain1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'figtree', sans-serif;
    font-size: medium;
    background-attachment: fixed;
}

.nav-principal-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-centro-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-centro-contacto li{
    margin: 10px;
}

.nav-izquierda-contacto{
    height: 60px;
}

.cuerpo-contacto{
    color: red;
    padding: 150px;
    text-align: center;
    background-color: #0000008c;
}

.cuerpo-contacto p{
    font-size: large;
}

h1{
    color: red;
}

.pie-contacto{
    color: red;
    text-align: left;
    margin-top: 100px;
}

.logos-contacto{
    text-align: left;
}

a{
    color: white;
}

/* FORMULARIO */
        .formulario-contacto {
            max-width: 600px;
            margin: 30px auto;
            background-color: black;
            padding: 30px;
            border-radius: 10px;
            justify-items: center;
            font-size: larger;
            font-weight: bold;
            display: block;
            margin-bottom: 8px;

        }
        
        .form-grupo{
            margin-bottom: 20px;
            color: white;
            justify-content: center;
            font-size: large;
            width: 100%;
            padding: 12px;
            border: 2px solid #333;
            border-radius: 5px;

        }
