*{
    box-sizing: border-box;
}

.cuerpo-serie{
    text-align: center;
}

ul{
    list-style: none;
}

body{
    background-image: url(../img/fondomain1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'figtree', sans-serif;
    font-size: medium;
    background-attachment: fixed;
}

.toggle {
    display: none; /* Ocultamos el menú */
}

.burger{
    display: none;
}

.nav-principalSerie{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-principalSerie li{
    margin: 10px;
}

.nav-serieizquierda{
    height: 60px;
}

.mainserie{
    color: red;
    padding: 100px;
    background-color: #ff000038;
    backdrop-filter: blur (10px);
}

.pieSerie{
    color: red;
    text-align: left;
    margin-top: 100px;
}

.logos{
    text-align: left;
}

a{
    color: white;
}

/* DISENO RESPONSIVE*/

/* RESPONSIVE PARA TABLETS - 768px */
@media screen and (560px< width <= 768px) {

body {
    background-attachment: scroll;
    font-size: small;
}

#toggle:checked + .burger + .nav-menu {
    display: none;
}

#toggle {
    display: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

.burger{
    display: none;
}

.nav-principalSerie {
    display: flex;
    color: white;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    gap: 15px;
}

.nav-principalSerie ul {
    margin: 8px 12px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.cuerpo-serie{
    padding: 30px 20px;
    margin: 0 15px;
}
    
ul{
    list-style: none;
    text-decoration: none;
}

.nav-menu{
    display: flex;
    justify-content: center;
    font-size: larger;
}

.nav-menu li{
    text-decoration: none;
}
  
.nav-serieizquierda {
    height: 50px;
    margin-bottom: 15px;
}

.nav-serieizquierda img{
    width: 100%;
    height: auto;
    max-width: 200px;
}
    
.mainserie {
    width: 95%;
    max-width: 768px;
}

    
.pieSerie {
    margin-top: 60px;
    padding: 0 30px;
    text-align: center;
}
    
.logos {
    text-align: center;
    padding: 0 30px;
}
}

/* RESPONSIVE PARA MÓVILES - 560px */
@media screen and ( max-width: 560px) {
    body {
        background-attachment: scroll;
        font-size: small;
    }
    
.nav-menu {
    display: none; /* Ocultamos el menú */
}

.nav-principalSerie ul{
    text-decoration: none;
}

#toggle:checked ~ .nav-menu {
  display: flex; /* Muestra el menú */
} 

#toggle {
    display: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

.burger{
    height: 93%;
    font-size: xx-large;
    display: flex;
}

label {
    text-align: right; 
    position: absolute; 
    right: 15px; 
    top: 50%;
    transform: translateY(-50%); 
    z-index: 1000; 
    margin-right: 20px;
}

.nav-principalSerie {
    gap: 10px;
    width: 100%;
    justify-content: left;
}

nav a{
    text-decoration: none;
}
       
.nav-serieizquierda {
    height: 45px;
    margin-bottom: 15px;
    text-align: left;
    align-items: left;
}
    
.nav-serieizquierda img {
    width: 800%;
    height: auto;
    max-width: 150px;
}
    
.mainserie {
    padding: 40px 20px;
    margin: 10px;
    font-size: 12px;
}
    
.pieSerie {
    margin-top: 40px;
    padding: 0 20px;
    text-align: center;
    font-size: 10px;
}
    
.logos {
    text-align: center;
    padding: 0 20px;
}
}

